.btn {
  min-width: 160px;
  height: 48px;
  padding: 0px 28px;
  background: #3040c4;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
    inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  outline: none;
  border: none;
  //padding: 17px 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  color: #ffffff;

  &_white {
    color: #3040c4;
    background: #ffffff;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__icon {
    margin-right: 15px;
    height: 60px;
    width: 60px;
  }

  &__info {
    font-size: 20px;
    line-height: 25px;
    color: $main-text-color;
  }

  &__title {
    font-weight: 700;
  }

  &__description {
    font-size: 18px;
    opacity: 0.6;
  }

  @include md($large-md) {
    &__icon {
      width: 48px;
      height: 48px;
      margin-right: 13px;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__description {
      display: none;
    }
  }
}

.burger {
  display: flex;
  height: 64px;
  width: 59px;
  border-left: 1px solid rgba(0, 0, 0, 0.15);

  & img {
    margin: auto;
  }
}
