.main-page {
  max-width: 1400px;
  margin: 0px auto;
  background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/ouch.png')
      no-repeat top 185px right 25px/ 796px 448px,
    #f3c6bd;
  padding-top: 39px;

  @include md($large-md) {
    padding-top: 0px;
    background: #f3c6bd;
  }
}
